<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../libs/jqueryui1.9.2/css/redmond/jquery-ui-1.9.2.custom.css"/>
    <link rel="stylesheet" href="../libs/plugins/simpletable/jquery.ui.simpletable.css"/>
    <title>自定义table plgins </title>
    <script src="../libs/jqueryui1.9.2/js/jquery-1.8.3.js"></script>
    <script src="../libs/jqueryui1.9.2/js/jquery-ui-1.9.2.custom.js"></script>
    <script src="../libs/plugins/simpletable/jquery.ui.simpletable.js"></script>
    <script type="text/javascript">
          $(function(){
              $("#sm").simpletable({
                    width:800,
                    height:500

              });
          });
    </script>
</head>
<body>
<table  id="sm" >
    <thead>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
            <td>班级</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>张三</td>
            <td>20</td>
            <td>男</td>
            <td>三年级二班</td>
        </tr>

        <tr>
            <td>张三1</td>
            <td>201</td>
            <td>男1</td>
            <td>三年级二班1</td>
        </tr>

        <tr>
            <td>张三2</td>
            <td>202</td>
            <td>男2</td>
            <td>三年级二班2</td>
        </tr>

        <tr>
            <td>张三3</td>
            <td>203</td>
            <td>男3</td>
            <td>三年级二班3</td>
        </tr>

        <tr>
            <td>张三4</td>
            <td>204</td>
            <td>男4</td>
            <td>三年级二班4</td>
        </tr>

    </tbody>
</table>
</body>
</html>